/********NAVBAR*******/

.page-nav{
	width: 100%;
	display: flex;
	top:0;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	height: 4.39vw;
}

.nav-shadow {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 4.39vw;
	margin: 0;
	box-shadow: 0px 3px 15px rgba(116, 128, 144, 0.15);
	z-index: 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 49%;
	height: 4.39vw;
}

.navbar-item {
	position: relative;
	display: flex;
	align-items: center;
}

.navbar-item.active{
	
	&:before{
		content : "";
		position: absolute;
		left    : 0;
		bottom  : 0;
		height  : 1px;
		margin-left: 10%;
		width   : 80%;  /* or 100px */
		border-bottom:4px solid #26DCCE;
	}

	a {
		color: #000000;
	}	

}

.logo {
	position: relative;
	display: flex;
	align-items: flex-end;
	z-index: 2;
	
	img {
		width: 23%;
		margin-right: 2.53%;
	}

	p {
		color: #000000;
		line-height: 1.2;
	}
}


/****MULTIPLE PAGES****/

.page-container {
	position: relative;
	margin-top: 12%;
}

.page {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	opacity: 0;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
}

.page.selected {
	position: relative;
	z-index: 2;
	opacity: 1;
	transform: translateX(0);
}

.page.enter-right, .page.leave-right {
	animation-name: anim-enter-right;
}

.page.enter-left, .page.leave-left {
	animation-name: anim-enter-left;
}

.page.leave-right, .page.leave-left {
	animation-direction: reverse;
}

/****MAIN PAGE ELEMENTS****/

.recruit {
	width: 100%;
}

.recruit-desc-logo {
	width: 30%;
}

.recruit-desc-heading {
	margin-top: 21px;
}

.recruit-desc-text {
	margin-top: 2.5vw;
}

.recruit-nav {
	margin-left: 8.32%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.recruit-nav-list-item-container {
	text-align: center;
	margin: 1.78%;
}

.sm-box {
	width: 29.77%;

	.recruit-nav-list-item-link {
		@include aspect-ratio(140, 166);
	}

}

.xl-box {
	width: 46.44%;
	.recruit-nav-list-item-link {
		@include aspect-ratio(300, 226);
	}
}

.recruit-nav-list-item-link {
	display: block;
	@include aspect-ratio(220, 192);
	border: 1px solid #E8E8E8;
	border-radius: 8px;

	&:hover {
		box-shadow: 0px 20px 30px rgba(116, 128, 144, 0.15);
	}	
}

.icon-container {
	margin: 0 auto;
	margin-top: 20%;
	width: 30%;
}

.icon {
	@include aspect-ratio(67, 58);
}

.recruit-nav-icon-title {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20%;
}

.icon--schedule {
  @include dump-bg-image-styles($image-path-schedule);
}

.icon--challenges {
  @include dump-bg-image-styles($image-path-challenges);	
}

.icon--procedure {
  @include dump-bg-image-styles($image-path-procedure);
}

.icon--whysds {
  @include dump-bg-image-styles($image-path-whysds);
}

.icon--xresults {
  @include dump-bg-image-styles($image-path-results-large);
}


/****SCHEDULE****/

.timeline-line {
	height: 1px;
	margin: 0 5%;
	margin-top: 3.94375%;
	width: 90%;
	position: absolute;
	background: #C6CDD9;
	z-index: 1;
}

.schedule-timeline {
	position: relative;
	margin-top: 3.6vw;
	display: flex;
	justify-content: space-between;
}

.schedule-timeline-item {
	width: 18%;
	z-index: 2;

	&:last-child {
		width: 7.38%;
		text-align: center;

		.timeline-icon-container {
			width: 100%;
		}
	}
}

.timeline-icon-container {
	width: 41.25%;
	background: #FFF;
}

.timeline-icon {
	border: 1px solid #DFE5EF;
	border-radius: 100%;
	@include aspect-ratio(1, 1);
}

.timeline-item-desc {
	position: relative;
	margin-top: 2.4vw;
}

.timeline-item-heading-container {
	position: absolute;
	top: 0;
}

.timeline-item-list-container {
	position: relative;
	top: 3.9vw;
	margin-left: 15%;
}

.icon--interviews {
  @include dump-bg-image-styles($image-path-interviews);
  background-size: 60%;
}

.icon--intro {
  @include dump-bg-image-styles($image-path-intro);
  background-size: 60%;
}

.icon--results {
  @include dump-bg-image-styles($image-path-results);
  background-size: 60%;
}

.icon--competitions {
  @include dump-bg-image-styles($image-path-competitions);
  background-size: 60%;
}

.icon--recruitment {
  @include dump-bg-image-styles($image-path-recruitment);
  background-size: 60%;
}

.icon--recruitment-faded {
  @include dump-bg-image-styles($image-path-recruitment-faded);
  background-size: 60%;
}

/****PROCEDURE****/

#procedure {
	height: 33vw;
}

.procedure-desc-container {
	margin-top: 2.4vw;
}

.procedure-item-button-container {

	a:first-child {
		.procedure-item-button {
			margin-left: 0;
		}
	}

	a:last-child {
		.procedure-item-button {
			margin-right: 0;
		}
	}
	margin-top: 1.7vw;
}

.procedure-desc-item p{

	&:first-of-type {
		margin-top: 0.5vw;
	}

	margin-top: 1.312vw;	
}

.procedure-item-heading {
	display: inline-block;
}

.procedure-item-button {
	margin-left: 2.15%;
	margin-right: 2.15%;
	width: 45.82%;
	border-radius: 8px;
	display:inline-block;
}

.procedure-footer {
	position: absolute;
	bottom: 0;
	a {
		font-size: 12px;
		font-size: 0.8vw;
	}	
}

.icon--problem {
	@include dump-bg-image-styles($image-path-problem);
    background-size: 10%;
    background-position: 10%;
}

.icon--form {
	@include dump-bg-image-styles($image-path-form);
	background-size: 10%;
	background-position: 10%;
}

.challenges-item-list {
	margin-top: 3.37vw;
	margin-left: 2.19vw;
	li {
		margin-top: 1.10vw;

	}
}

.challenges-gallery {
	margin-top: 2.93vw;
	display: flex;
	justify-content: space-between;
}

.challenges-gallery-item-container {
	width: 30%;
}

.challenges-gallery-item {
	@include aspect-ratio(140, 196);
	border-radius: 4px;
	border: 1px solid #E8E8E8;
	overflow: hidden;

	&:hover {
		box-shadow: 0px 20px 30px rgba(116, 128, 144, 0.15);
	}
}

.whysds-text-container {
	margin-top: 2.34vw;
	text-align: justify;
	text-justify: inter-word;
}

.whysds-text {
	margin-top: 1.17vw;
}

.whysds-gallery {
	margin-top: 2.71vw;
	display: flex;
	justify-content: center;
}

.whysds-gallery-item-container {
	margin-right: 2%;
	width: 21.4%;
}

.whysds-gallery-item {
	border-radius: 4px;
	@include aspect-ratio(219, 157);
  	overflow: hidden;
}


/****RESULTS****/


.results-container {
	display: flex;
	margin-top: 2.4vw;
	justify-content: space-between;
}

.results-item {
	width: 18%;	
}


.woc {
	width: 32%;
}

.woc-list-container{
	display:flex;
	justify-content: space-between;
}


.results-item-list {
	margin-top: 1.8vw;
	padding-left: 7%;
	list-style-type: decimal;
}

.woc-list {
	width: 48%;
	padding-left: 5%;
}



/****LEFT AND RIGHT NAVIGATION BUTTONS****/
.nav-side {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	width: 4.39vw;
	height: 100%;
	button {
		background: transparent;
		background-position: center;
		background-repeat: no-repeat;

		border: none;
		border-radius: 0;
		height: 8.78vw;
		width: 100%;
		
		transition: 0.3s ease-in-out;
	}
	button:hover {
		cursor: pointer;
		box-shadow: 0px 0px 15px rgba(116, 128, 144, 0.15);
	}
	button:focus {
		outline: none;
	}
}

.nav-right {
	right: 0;
	button {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-image: url("/images/right-arrow.svg");
	}
}

.nav-left {
	left: 0;
	button {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		background-image: url("/images/left-arrow.svg");
	}
}