.container {
  position: relative;
	margin: 0 auto;
	width: 75%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh; 
}

.container:after,
.row:after {
      content: "";
      display: table;
      clear: both;
      }

[class*='col-'] {
  float: left;
  padding: 0px 1.5vw;
  width: 100%;
  min-height: 1px;

  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
  }
}

@media #{$breakpoint-small} {
	.container {
		width: 75%;
		max-width: 1370px;
	}

	@for $i from 1 through 12 {
    .col-sm-#{$i} {
        width: 100% / 12 * $i;
    }
	}
}

@media #{$breakpoint-large} {
	@for $i from 1 through 12 {
    .col-lg-#{$i} {
        width: 100% / 12 * $i;
    }
	}
}