@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > .content > img {
  	height: 100%;
  	width: 100%;
  }
}

/**
 * Dump background-image styles
 */
@mixin dump-bg-image-styles($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}