body{
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #000;
}

.hidden {
	visibility: hidden;
}

.button {
	padding: 2.27% 6%;
	padding-left: 12%;
	border-radius: 8px;
	border: 1px solid #E8E8E8;
	&:hover {
		box-shadow: 0px 7px 20px rgba(116, 128, 144, 0.15);
	}
}

.underline {
	text-decoration: underline;
}

.fade {
	opacity: 0.5;
}

.strike {
	text-decoration: line-through;
}